"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Hack"
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "markdown-preview": {}
  minimap:
    plugins:
      bookmarks: true
      "find-and-replace": true
      "git-diff": false
      "minimap-autohide": true
      selection: true
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
